{% extends "Smith981NewsboxBundle::base.html.twig" %}
{% block page %}
<!DOCTYPE html>
<head>
</head>
<body>
	<div id="content-public">
		<header><h2>Issues</h2></header>
		<nav>
			<ul>
{% for issue in issues %}
				<li><a href="{{ path('issue_public_show', { 'id': issue.id }) }}">{{ issue }} - {{ issue.publishedDate.format("Y-m-d") }}</a></li>
{% endfor %}
			</ul>
		</nav>
	</div>
</body>
{% endblock %}