@media screen {

	h1#print-header {
		display:none;
	}

}

@media screen and (max-width:979px) {
	#content {
		padding-top: 0;
		width:90%;
	}

	.column {
		width:100%;
	}

	#column2 {
		border:none !important;
	}

	img {
		width:80% !important;
	}

	#story-content {
		display:block;
		width:100%;
	}
}

@media screen and (min-width:980px) {

	#content {
    	padding-top: 60px !important; /* 60px to make the container go all the way to the bottom of the topbar */
	}

	.column {
    	display: inline-block;
    	padding-left: 1%;
    	padding-right: 1%;
    	vertical-align: top;
    	width: 30%;
	}

	#story-content {
		width: 66%;
	}
}

@media print {
	div.navbar {
		display:none;
	}

	img {
		display:none !important;
	}
}

div#container {
	display:block;

	/*width:17in;*/
	
	width:100%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.container {
	display:block;
	width:100%;
}

#date {
	display: inline;
    float: right;
    font-size: 20px;
    font-weight: 200;
    margin-right: 10px;
    color: #999999;
}

.display {
	/*font-family: 'Stint Ultra Expanded', cursive;*/
}

h1 {
	text-align: center;
	/*font-family: 'Francois One', sans-serif;*/
}

p {
	/*font-family: 'Quattrocento', serif;*/
}

div.navbar {
	width:100%;
}

a.brand {
	padding-left:2em !important;
}

h2#nav-header {
	display:none;
}

ul#navbar {
	text-align: center;
	background-color: lightgray;
}

li.navlink {
	list-style-type: none;
	display:inline;
	vertical-align: baseline;
	/*font-family: 'Stint Ultra Expanded', cursive;*/
}

li.navlink a, li.navlink a:hover {
	font-size: 16pt;
	text-decoration: none;
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
}

li.navlink a {
	-moz-transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out; 
	-ms-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out; 
}

li.navlink a:hover {
	color:darkred;
}

h2#news-header {
	text-align: center;
}

h3.story-title {
	font-weight: bold;
	text-align:center;
}

p.story-text {
	display:block;
}

p.story-link {
	text-align:center;
}

#content {
	text-align:center;
	margin-left:auto;
	margin-right:auto;

}

#column2 {
	border-left: 1px solid black;
    border-right: 1px solid black;
}

.story {
	list-style-type: none;
	/*overflow: auto;*/
	text-overflow: ellipsis;

	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside:avoid;
}

#story-content {
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}

.story p.story-text {
	text-align:left;
}

hr.main-divider {

}

img#featured-image {

}

img.story-image {
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align:center;
	border: 2px solid black;
	max-width:250px; /* This is used to resize images */
}

figure.story-caption {
	font-size:11pt;
	margin-left:auto;
	margin-right:auto;
	display:block;
}